<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"/>
<link href="resources/css/style.css" rel="stylesheet" type="text/css" />
<link href="resources/css/mobile.css" rel="stylesheet" type="text/css" />
