<link type="text/css" rel="stylesheet" href="resources/bootstrap/css/bootstrap.css"/>
<link type="text/css" rel="stylesheet" href="resources/bootstrap/css/bootstrap-responsive.css"/>
<link href="resources/css/style.css" rel="stylesheet" type="text/css" />
<link href="resources/css/mobile.css" rel="stylesheet" type="text/css" />
