<head>
<title>Home</title>
<link type="text/css" rel="stylesheet" href="resources/bootstrap/css/bootstrap.css"/>
<link type="text/css" rel="stylesheet" href="resources/bootstrap/css/bootstrap-responsive.css"/>

<style >
#wrap {
    height: auto !important;
    margin: 0 auto;
    min-height: 95%;
}
#footer {
    height: 5%;
}
#footer {
    background-color: #F5F5F5;
}
#footer {
    margin-left: -1%;
    margin-right: -1%;
    padding-left: 1%;
    padding-right: 1%;
}
</style>
</head>
<html>
<body>
	<div id="wrap">
        <ul class="nav nav-pills nav-stacked span">
    		<li class="active"><a href="#springUrl('/home.do')"><i class="icon-home icon-black"></i>Home</a></li>
            <li><a href="#springUrl('/myBillDetails.do')">My Bill</a></li>
            <li><a href="#springUrl('/usageStatistics.do')">Usage Statistics</a></li>
            <li><a href="#springUrl('/otherNetworkConsumers.do')">Offers</a></li>
            <li><a href="#springUrl('/plans.do')">Plan Details</a></li>
            <li><a href="#springUrl('/logout.do')"><i class="icon-off icon-black"></i>Logout</a></li>
        </ul>
    	
    	Welcome $!customer.username ....  This is a Secured Home page..You must be authorized before you can see this.
    	Your registerd number is $!customer.mobile ....
    </div>
	
	<div id="footer">
      <div class="container">
		<center>
			<p class="muted credit">Copyrights (Cognizant Technology Solutions) ..........</p>
        </center>
      </div>
    </div>
</body>
</html>