<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Login</title>
    
	#parse("css.vm")
	
	#parse("Javascript.vm")
</head>
  <body>
    <div class="wrapper">
		<header class="header">
		</header>
		<div class="container-fluid">
		    <div class="row-fluid" id="loginFormConatiner">
			    <div class="span12">
				    <div class="well">
						<form name="registration" id="registration" method="POST" action="jspring_security_check">
							<fieldset>
								#if($showErrorMsg)
    								<div class="alert alert-error">
                                      $errorMsg
                                    </div>
    							#end
    						   <legend>Login</legend>
    						   <input type="text" id="j_username" name="j_username" class="input-block-level" placeholder="User name" />
    						   <input type="password" id="j_password" name="j_password" class="input-block-level" placeholder="Password" />
    						   <div id="button-div" class="clearfix">
    								<input type="submit" class="btn btn-primary" id="btn-login"  value="login"/>
    								<a class="forgot-link" href="#">Forgot Password?</a>
    						   </div>
    					   </fieldset>
                    	</form>
				    </div>
			    </div>
		     </div>
		</div>
		<footer class="footer">
		</footer>
    </div>
  </body>
</html>