<html>
<head>
    <title>Login </title>
	<link href="resources/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="resources/css/style.css" rel="stylesheet" type="text/css" />
    <link href="resources/css/login.css" rel="stylesheet" type="text/css" />
</head>
    <body class="body">
      	<header class="header">
        </header>
      	<div class="container">
           <div class="formContainer">
    		   <h2 class="login-header">Log In</h2>
                   <form name="registration" id="registration" method="POST" action="jspring_security_check">					
                    	
						<div class="input-container">
                            <div id="user-name" class="clearfix">
                                 <label for="UserName" id="UserNameLbl">User Name</label>
                                 <input type="text" name="j_username" id="j_username" class="input-text" placeholder="Enter User Name...." />
                             </div>
             
							  <div id="password" class="clearfix">
                                  <label for="Password" id="PasswordLbl">Password</label>
                                    <input type="password" name="j_password" id="j_password" class="input-text" placeholder="Enter Password...."/>
                              </div>
                         </div>
                        
						 <div class="btnContainer clearfix">
                                    <a id="forgotLink" href="#">Forgotten Login Details?</a>
                            	<input type="submit" name="login" class="btn" id="btn2" value="Login" />
                         </div>
                     </form>
             </div>
        </div>
        
		<footer class="footer">
        </footer>
        <script src="http://code.jquery.com/jquery.js"></script>
      </body>
</html>