<div class="row-fluid">
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="container-fluid">
				<span class="pull-right" style="margin-right:-50px;" >
					<img src="resources/images/medium.png" height="50%" width="45%" alt="Cognizant">
					</img>
				</span>
				<span class="pull-left" style="color:white;font-weight:bold;font-size:18px; vertical-align:middle; margin-top: 10px; margin-left:0px;">MyBill Selfcare
				</span>
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> 
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</a>
				
				<div class="nav-collapse collapse">
					<ul class="nav" style="margin-left:9%;">
						#if ($status == 'Pass')
						<li class="active">#else
						<li id="homeMenu">#end<a href="#springUrl('/home.do')"><i
								class="icon-home icon-white"></i>Home</a></li> #if ($pageName ==
						'myBill')
						<li class="active">#else
						<li id="myBillMenu">#end<a href="#springUrl('/myBillDetails.do')"><i
								class="icon-briefcase icon-white"></i>My Bill</a></li> #if ($pageName ==
						'usageStatistics')
						<li class="active">#else
						<li id="usageMenu">#end<a href="#springUrl('/usageStatistics.do')"><i
								class="icon-briefcase icon-white"></i>My Usage</a></li> #if
						($pageName == 'offers')
						<li class="active">#else
						<li id="offersMenu">#end<a href="#springUrl('/otherNetworkConsumers.do')"><i
								class="icon-gift icon-white"></i>My Offers</a></li> #if ($pageName ==
						'planDetails')
						<li class="active">#else
						<li id="planDetailsMenu">#end<a href="#springUrl('/plans.do')"><i
								class="icon-list icon-white"></i>My Plan</a></li>
						#if ($pageName ==
						'feedback')
						<li class="active">#else
						<li id="feedbackMenu">#end<a href="#springUrl('/feedback.do')"><i
								class="icon-list icon-white"></i>My Feedback</a></li>
						<li><a href="#springUrl('/logout.do')"><i
								class="icon-off icon-white"></i>Logout</a></li>
					</ul>
				</div>
				<!-- /.nav-collapse -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.navbar-inner -->
	</div>
	<!-- /.navbar -->
</div>