<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>My Bill</title>
    
	#parse("css.vm")
	<style >
		.progress {
            position: relative;
        }
        
        .bar {
            z-index: 1;
            position: absolute;
        }
        
        .progress span {
            position: relative;
            top: 0;
            z-index: 2;
            color: black; // You might need to change it
            text-align: center;
            width: 100%;
        }
    </style>
	#parse("Javascript.vm")
	<script src="resources/highcharts/highcharts.js"></script>
    <script src="resources/highcharts/modules/exporting.js"></script>
	<script src="resources/highcharts/highcharts-more.js"></script>
	<script type="text/javascript">
	var minsRanges = new Array();
	var dataRanges = new Array();
	
	var maximumMinutes;
	var maximumData;

	var actualMins;
	var actualData;
	
	var minutesLabelStep;
	var dataLabelStep;
	
	function generateGaugeChart() {
		var form = $('#myBillChartFrm');
	    #[[$]]#.ajax({
        	type: "POST",
			url: form.attr( 'action' ),
        	data: '',
        	success: function(response){
    			if(response.status == 'Pass'){
					maximumMinutes = response.result.totalMinutes;
					maximumData = response.result.totalData;
					
					minutesLabelStep = response.result.minutesLabelStep;
					dataLabelStep = response.result.dataLabelStep;
					
					minsRanges = response.result.minsRanges;
					dataRanges = response.result.dataRanges;
					
					actualMins = response.result.minutesUsed;
					actualData = response.result.dataUsed;
					
					generateMinsGaugeChart();
					generateDataGaugeChart();
                 }else{
                     $('#error').html("Please correct following errors: " + response.result);
                 }
				 
         	},
         	error: function(e){
            	alert('Error: ' + e);
         	}
    	});
	}
    function generateMinsGaugeChart() {

		$('#minsGaugeContainer').highcharts({
    	
    	    chart: {
    	        type: 'gauge',
    	        plotBackgroundColor: null,
    	        plotBackgroundImage: null,
    	        plotBorderWidth: 0,
    	        plotShadow: false
    	    },
    	    
    	    title: {
    	        text: 'Minutes'
    	    },
    	    
    	    pane: {
    	        startAngle: -150,
    	        endAngle: 150,
    	        background: [{
    	            backgroundColor: {
    	                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
    	                stops: [
    	                    [0, '#FFF'],
    	                    [1, '#333']
    	                ]
    	            },
    	            borderWidth: 0,
    	            outerRadius: '109%'
    	        }, {
    	            backgroundColor: {
    	                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
    	                stops: [
    	                    [0, '#333'],
    	                    [1, '#FFF']
    	                ]
    	            },
    	            borderWidth: 1,
    	            outerRadius: '107%'
    	        }, {
    	            // default background
    	        }, {
    	            backgroundColor: '#DDD',
    	            borderWidth: 0,
    	            outerRadius: '105%',
    	            innerRadius: '103%'
    	        }]
    	    },
    	       
    	    // the value axis
    	    yAxis: {
    	        min: 0,
    	        max: maximumMinutes,
    	        
    	        minorTickInterval: 'auto',
    	        minorTickWidth: 1,
    	        minorTickLength: 10,
    	        minorTickPosition: 'inside',
    	        minorTickColor: '#666',
    	
    	        tickPixelInterval: 30,
    	        tickWidth: 2,
    	        tickPosition: 'inside',
    	        tickLength: 10,
    	        tickColor: '#666',
    	        labels: {
    				step: minutesLabelStep,
    	            rotation: 'auto'
    	        },
    	        plotBands: [{
    	            from: 0,
    	            to: minsRanges[0],
    	            color: '#55BF3B' // green
    	        }, {
    	            from: minsRanges[0],
    	            to: minsRanges[1],
    	            color: '#DDDF0D' // yellow
    	        }, {
    	            from: minsRanges[1],
    	            to: maximumMinutes,
    	            color: '#DF5353' // red
    	        }]        
    	    },
    	
    	    series: [{
    	        name: 'Minutes',
    	        data: [actualMins],
    	        tooltip: {
    	            valueSuffix: ' mins'
    	        }
    	    }]
    	
    	});
	}
	function generateDataGaugeChart() {
	
		$('#dataGaugeContainer').highcharts({
    	
    	    chart: {
    	        type: 'gauge',
    	        plotBackgroundColor: null,
    	        plotBackgroundImage: null,
    	        plotBorderWidth: 0,
    	        plotShadow: false
    	    },
    	    
    	    title: {
    	        text: 'Data Usage'
    	    },
    	    
    	    pane: {
    	        startAngle: -150,
    	        endAngle: 150,
    	        background: [{
    	            backgroundColor: {
    	                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
    	                stops: [
    	                    [0, '#FFF'],
    	                    [1, '#333']
    	                ]
    	            },
    	            borderWidth: 0,
    	            outerRadius: '109%'
    	        }, {
    	            backgroundColor: {
    	                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
    	                stops: [
    	                    [0, '#333'],
    	                    [1, '#FFF']
    	                ]
    	            },
    	            borderWidth: 1,
    	            outerRadius: '107%'
    	        }, {
    	            // default background
    	        }, {
    	            backgroundColor: '#DDD',
    	            borderWidth: 0,
    	            outerRadius: '105%',
    	            innerRadius: '103%'
    	        }]
    	    },
    	       
    	    // the value axis
    	    yAxis: {
    	        min: 0,
    	        max: maximumData,
    	        
    	        minorTickInterval: 'auto',
    	        minorTickWidth: 1,
    	        minorTickLength: 10,
    	        minorTickPosition: 'inside',
    	        minorTickColor: '#666',
    	
    	        tickPixelInterval: 30,
    	        tickWidth: 2,
    	        tickPosition: 'inside',
    	        tickLength: 10,
    	        tickColor: '#666',
    	        labels: {
    				step: dataLabelStep,
    	            rotation: 'auto'
    	        },
    	        plotBands: [{
    	            from: 0,
    	            to: dataRanges[0],
    	            color: '#55BF3B' // green
    	        }, {
    	            from: dataRanges[0],
    	            to: dataRanges[1],
    	            color: '#DDDF0D' // yellow
    	        }, {
    	            from: dataRanges[1],
    	            to: maximumData,
    	            color: '#DF5353' // red
    	        }]        
    	    },
    	
    	    series: [{
    	        name: 'Data',
    	        data: [actualData],
    	        tooltip: {
    	            valueSuffix: ' MB'
    	        }
    	    }]
    	
    	});
    }
    </script>
</head>
  <body>
    <div class="wrapper">
		<header class="header">
			#parse("menu.vm")
		</header>
		<div class="container-fluid" style="min-height:85.5%">
		    <div class="row-fluid" id="formConatiner">
			    <div class="span12">
				    <div class="well">
						<h4>My Bill Details</h4>
						<div class="accordion" id="accordion2">
                            #if($myBillVO.lastBillFlag)
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                        Last Bill
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="accordion-body collapse in">
                    					<div class="accordion-inner">
                                            $myBillVO.lastBill&nbsp;$myBillVO.currency
                                            <dl class="dl-horizontal">
                                              <dt>Last Billed On</dt>
                                              <dd>$myBillVO.lastBillDate</dd>
                							  <dt>Payment Due On</dt>
                                              <dd>$myBillVO.lastBillDueDate</dd>
                                            </dl> 
                                        </div>
                                    </div>
                                </div>
                            #end
                          
                            #if($myBillVO.lastPaymentFlag)
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                        Last Payment
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="accordion-body collapse">
                                        <div class="accordion-inner">
                                            $myBillVO.lastPayment &nbsp; $myBillVO.currency 
                                            <dl class="dl-horizontal">
                								<dt>Payment Received On</dt>
                								<dd>$myBillVO.lastPaymentDate</dd>
                							</dl>
                                        </div>
                                    </div>
                                </div>
                			#end
                			#if($myBillVO.dataUsageFlag)
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour" onclick="generateGaugeChart()">
                                        Data Usage
                                        </a>
                                    </div>
                                    <div id="collapseFour" class="accordion-body collapse">
                                        <div class="accordion-inner">
                                            <dl class="dl-horizontal">
                								<dt>Unbilled Amount</dt>
                								<dd>$myBillVO.recentCharges&nbsp;$myBillVO.currency</dd>
                								<dt>Your next Bill Date is</dt>
                    							<dd>$myBillVO.nextBillDate</dd>
                								<dt>Minutes Used</dt>
                								<dd>
                									<div id="minsGaugeContainer" style="width: 300px; height: 250px; margin: 0 auto"></div>
                								</dd>
                								<br/>
                								<dt>Data Used</dt>
                								<dd>
                									<div id="dataGaugeContainer" style="width: 300px; height: 250px; margin: 0 auto"></div>
                								</dd>
                							</dl>
                                        </div>
                                    </div>
                                </div>
                            #end
                        
                        </div>
						<form id="myBillChartFrm" action="#springUrl('/myBillChart.do')" method="post">
                        </form>
				    </div>
			    </div>
		     </div>
		</div>
		<footer class="footer">
			#parse("footer.vm")
		</footer>
    </div>
  </body>
</html>