<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Your subscribed plans</h1>
	
		#foreach( $plan in $response.result )
		<hr/>
		<table>
		<tr>
			<td>Plan name:</td>
			<td>$plan.name</td>
		</tr>
		<tr>
			<td>Plan description:</td>
			<td>$plan.description</td>
		</tr>
		<tr>
			<td><h4>Salient features</h4></td>
			<td>
				<table>
					#foreach($feature in $plan.features)
					#if( $feature.visible)
					<tr>
						<td>$feature.name</td>
						<td>$feature.description</td>			
					</tr>
					#end
					#end
				</table>
			</td>
		</tr>
		</table>
		#end
		<hr/>
</body>
</html>