@charset "utf-8";
/* CSS Document */

@media only screen and (max-width : 750px) and (min-width : 150px){
.body{
	font-size:100%;
	overflow-x: hidden;
}
.container{
width:100%;
margin:10% 0;
}
.btn{
	width:100%;
	margin-top:10px;
}
.input-container{
	margin-top:20px;
	padding:0;
}
#user-name
{
	width:100%;
}
#UserNameLbl{
	display:none;
}
#j_username{
	width:98%;
	float:left;
	margin-top:2%;
	border-radius: 0;
}
#password{
	width:100%;
}
#PasswordLbl{
	display:none;
}
#j_password{
	width:99%;
	border-radius: 0;
	float:left;
	margin-top:20px;
}
#forgotLink{
	width:100%;
	float:left;
	margin-top:2%;
}

.btnContainer{
	width:100%;
}
.footer{
	margin-top:46%;
}

}