@charset "utf-8";
/* CSS Document */

@media only screen and (max-width : 750px) and (min-width : 150px){
	body{
		font-size:100%;
		padding: 0;
		margin: 0;
	}
	.header{
		height:10%;
	}
	.footer{
		height:8%;
	}
	#formConatiner{
		width:100%;
	}
	#loginFormConatiner{
		width:100%;
	}
	#btn-login{
		width: 100%;
	       float: none;
	}
	#button-div{
	   width: 100%;
	   margin: 0;
	}
	.forgot-link{
	   width: 100%;
	   float: none;
	   display: block;
	   padding-top: 10px;
	   text-align: center;
	}
	table .column{
		word-break: break-all;
	}
}