@charset "utf-8";
/* CSS Document */
/*shouvik Bhuiyan(334171)*/
/*22-Jul-2013*/

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.header{
	width:100%;
	height:40px;
	background-color:#333;
}
.login-header{
   padding: 20px 0;
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
  border-radius:5px;
}
.body{
	background: #00b7ea; /* Old browsers */
         background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
         background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
         background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
         background: -o-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
         background: -ms-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* IE10+ */
         background: linear-gradient(to bottom, #00b7ea 0%,#009ec3 100%); /* W3C */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
	font-family:Arial, Helvetica, sans-serif;
	font-size:75%;
}
.container{
	width:80%;
	margin:100px auto;
        padding-top: 0;
	border-radius:5px;
}
.row{
   border-radius: 5px;
   background-color:rgb(227,227,227);
   height: 100px;
   margin: 10px 0;
   box-shadow: 0 1px 10px black;
}

.heading-titles{
   font-size: 25px;
}
.subheading-titles{
   font-size: 15px;
}
.section-wrapper{
   width: 70%;
   padding: 2% 0;
   margin: auto;
}
.sec1{
   width:10%;
   float: left;
   height: 80px;
   //background-color: blue;
}
.sec2{
   width:89.8%; /*88%*/
   float: left;
   height: 80px;
   //background-color: red;
}
.result{
   font-weight: bold;
   display: inline;
}
.result-units{
   display: inline;
}
.more-link{
   display: block;
   float:right;
}
.iconImg{
   position: relative;
   width: 30%;
   height: 50%;
   margin: 10%;
}
.footer{
	width:100%;
	height:100px;
	background-color:#333;
}
#myChart{
   position: relative;
   padding: 10% 0 0 10%;
   width: 50%;
   height: 100%;
}
#billGraph{
   position: relative;
   padding: 10% 0 0 10%;
   width: 50%;
   height: 100%;
}