@media only screen and (max-width : 750px) and (min-width : 350px){
    
    
.sec1{
   width:20%;
   float: left;
  // background-color: blue;
}
.sec2{
   width:79.6%; /*88%*/
   float: left;
  // background-color: red;
}
.section-wrapper{
   width: 80%;
   margin:auto;
}
.more-link{
	font-size: 12px;
	float: right;
}

}